In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
df_eda = pd.read_csv('data.csv')

In [5]:
df_eda.head()

,Description,Name,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Country,Afghanistan,1850,AFG,3752993.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.168,1.981,2.993,0.797,3.595,0.958,0.224,0.060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.113,NaN,NaN,NaN,NaN,0.113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.436,0.629,NaN,NaN
1,Country,Afghanistan,1851,AFG,3767956.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.168,1.990,3.015,0.800,3.615,0.959,0.229,0.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.110,NaN,NaN,NaN,NaN,0.107,NaN,NaN,0.156,0.0,0.0,0.0,0.0,7.500,0.633,NaN,NaN
2,Country,Afghanistan,1852,AFG,3783940.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9.043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.168,1.998,3.035,0.802,3.635,0.961,0.234,0.062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.109,NaN,NaN,NaN,NaN,0.106,NaN,NaN,0.155,0.0,0.0,0.0,0.0,7.560,0.637,NaN,NaN
3,Country,Afghanistan,1853,AFG,3800954.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,12.095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.169,2.005,3.052,0.803,3.656,0.962,0.238,0.063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.108,NaN,NaN,NaN,NaN,0.105,NaN,NaN,0.155,0.0,0.0,0.0,0.0,7.620,0.641,NaN,NaN
4,Country,Afghanistan,1854,AFG,3818038.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,15.162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.169,2.011,3.067,0.803,3.676,0.963,0.242,0.063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.107,NaN,NaN,NaN,NaN,0.105,NaN,NaN,0.155,0.0,0.0,0.0,0.0,7.678,0.644,NaN,NaN

In [10]:
df_eda['Name'].nunique()

253

In [11]:
df_eda['Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe', 'Africa', 'Africa (GCP)',
       'Asia', 'Asia (GCP)', 'Asia (excl. China and India)',
       'Central America (GCP)', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'Middle East (GCP)', 'North America', 'North America (GCP)',
       'North America (excl. USA)', 'Oceania', 'Oceania (GCP)',
       'Ryukyu Islands', 'Ryukyu Islands (GCP)', 'South America',
       'South America (GCP)', 'World', 'European Union (27)',
       'European Union (28)', 'High-income countries',
       'Least developed countries (Jones et al.)', 'Low-income countries',
       'Lower-middle-income countries', 'Non-OECD (GCP)', 'OECD (GCP)',
       'OECD (Jones et al.)', 'Upper-middle-income countries', 'Anguilla',
       'Antarctica', 'Aruba', 'Bermuda',
       'Bonaire Sint Eustatius and Saba', 'British Virgin Islands',
       'Christmas Island', 'Curacao', 'Faroe Islands', 'French Polynesia',
       'Greenland', 'Hong Kong', 'Macao', 'Montserrat', 'New Caledonia',
       'Niue', 'Saint Helena', 'Saint Pierre and Miquelon',
       'Sint Maarten (Dutch part)', 'Turks and Caicos Islands',
       'Wallis and Futuna', 'International aviation',
       'International shipping', 'International transport'], dtype=object)

In [19]:
df_eda['Name'].tail(150)

43596     International shipping
43597     International shipping
43598     International shipping
43599     International shipping
43600     International shipping
                  ...
43741    International transport
43742    International transport
43743    International transport
43744    International transport
43745    International transport
Name: Name, Length: 150, dtype: object

In [13]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43746 entries, 0 to 43745
Data columns (total 80 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Description                                43746 non-null  object
 1   Name                                       43746 non-null  object
 2   year                                       43746 non-null  int64
 3   iso_code                                   37921 non-null  object
 4   population                                 37965 non-null  float64
 5   gdp                                        14989 non-null  float64
 6   cement_co2                                 23612 non-null  float64
 7   cement_co2_per_capita                      22715 non-null  float64
 8   co2                                        27059 non-null  float64
 9   co2_growth_abs                             24987 non-null  float64
 10  co2_growth_prct                            24668 non-null  float64
 11  co2_including_luc                          23585 non-null  float64
 12  co2_including_luc_growth_abs               23285 non-null  float64
 13  co2_including_luc_growth_prct              23285 non-null  float64
 14  co2_including_luc_per_capita               23495 non-null  float64
 15  co2_including_luc_per_gdp                  16790 non-null  float64
 16  co2_including_luc_per_unit_energy          9701 non-null   float64
 17  co2_per_capita                             24868 non-null  float64
 18  co2_per_gdp                                16989 non-null  float64
 19  co2_per_unit_energy                        10350 non-null  float64
 20  coal_co2                                   20372 non-null  float64
 21  coal_co2_per_capita                        20040 non-null  float64
 22  consumption_co2                            4866 non-null   float64
 23  consumption_co2_per_capita                 4502 non-null   float64
 24  consumption_co2_per_gdp                    4444 non-null   float64
 25  cumulative_cement_co2                      23591 non-null  float64
 26  cumulative_co2                             25281 non-null  float64
 27  cumulative_co2_including_luc               23585 non-null  float64
 28  cumulative_coal_co2                        20372 non-null  float64
 29  cumulative_flaring_co2                     14515 non-null  float64
 30  cumulative_gas_co2                         16533 non-null  float64
 31  cumulative_luc_co2                         37236 non-null  float64
 32  cumulative_oil_co2                         23736 non-null  float64
 33  cumulative_other_co2                       2902 non-null   float64
 34  energy_per_capita                          10109 non-null  float64
 35  energy_per_gdp                             7696 non-null   float64
 36  flaring_co2                                14545 non-null  float64
 37  flaring_co2_per_capita                     14013 non-null  float64
 38  gas_co2                                    16533 non-null  float64
 39  gas_co2_per_capita                         16229 non-null  float64
 40  ghg_excluding_lucf_per_capita              35639 non-null  float64
 41  ghg_per_capita                             35813 non-null  float64
 42  land_use_change_co2                        37236 non-null  float64
 43  land_use_change_co2_per_capita             36434 non-null  float64
 44  methane                                    37410 non-null  float64
 45  methane_per_capita                         35813 non-null  float64
 46  nitrous_oxide                              38280 non-null  float64
 47  nitrous_oxide_per_capita                   36320 non-null  float64
 48  oil_co2                                    23736 non-null  float64
 49  oil_co2_per_capita                         23373 non-null  float64
 50  other_co2_per_capita                       2464 non-null   float64
 51  other_industry_co2                         2902 non-null   float64
 52  primary_energy_consumption                 10151 non-null  float64
 53  share_global_cement_co2                    21960 non-null  float64
 54  share_global_co2                           25281 non-null  float64
 55  share_global_co2_including_luc             23585 non-null  float64
 56  share_global_coal_co2                      20372 non-null  float64
 57  share_global_cumulative_cement_co2         21960 non-null  float64
 58  share_global_cumulative_co2                25281 non-null  float64
 59  share_global_cumulative_co2_including_luc  23585 non-null  float64
 60  share_global_cumulative_coal_co2           20372 non-null  float64
 61  share_global_cumulative_flaring_co2        10869 non-null  float64
 62  share_global_cumulative_gas_co2            15034 non-null  float64
 63  share_global_cumulative_luc_co2            37236 non-null  float64
 64  share_global_cumulative_oil_co2            23592 non-null  float64
 65  share_global_cumulative_other_co2          2108 non-null   float64
 66  share_global_flaring_co2                   10869 non-null  float64
 67  share_global_gas_co2                       15034 non-null  float64
 68  share_global_luc_co2                       37236 non-null  float64
 69  share_global_oil_co2                       23592 non-null  float64
 70  share_global_other_co2                     2108 non-null   float64
 71  share_of_temperature_change_from_ghg       40828 non-null  float64
 72  temperature_change_from_ch4                38060 non-null  float64
 73  temperature_change_from_co2                40828 non-null  float64
 74  temperature_change_from_ghg                40828 non-null  float64
 75  temperature_change_from_n2o                38060 non-null  float64
 76  total_ghg                                  37410 non-null  float64
 77  total_ghg_excluding_lucf                   37236 non-null  float64
 78  trade_co2                                  4535 non-null   float64
 79  trade_co2_share                            4535 non-null   float64
dtypes: float64(76), int64(1), object(3)
memory usage: 26.7+ MB

In [20]:
df_eda['year']

0        1850
1        1851
2        1852
3        1853
4        1854
         ...
43741    2019
43742    2020
43743    2021
43744    2022
43745    2023
Name: year, Length: 43746, dtype: int64

In [ ]:
filter_year = df_eda[df_eda['year'] >= 2000] #hemos recortado por los 25 últimos años

In [24]:
filter_year.isna().sum()

Description                       0
Name                              0
year                              0
iso_code                        840
population                      552
                               ...
temperature_change_from_n2o     792
total_ghg                       912
total_ghg_excluding_lucf        936
trade_co2                      2906
trade_co2_share                2906
Length: 80, dtype: int64

In [29]:
filter_year[filter_year['year'] > 2000].groupby('Name')['year'].count()

Name
Afghanistan          23
Africa               23
Africa (GCP)         23
Albania              23
Algeria              23
                     ..
Wallis and Futuna    23
World                23
Yemen                23
Zambia               23
Zimbabwe             23
Name: year, Length: 253, dtype: int64

In [34]:
nulos_porcentaje = filter_year.isna().sum() / filter_year.shape[0] * 100
nulos_porcentaje

Description                     0.000000
Name                            0.000000
year                            0.000000
iso_code                       13.833992
population                      9.090909
                                 ...
temperature_change_from_n2o    13.043478
total_ghg                      15.019763
total_ghg_excluding_lucf       15.415020
trade_co2                      47.859025
trade_co2_share                47.859025
Length: 80, dtype: float64

In [ ]:
filter_year['Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe', 'Africa', 'Africa (GCP)',
       'Asia', 'Asia (GCP)', 'Asia (excl. China and India)',
       'Central America (GCP)', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'Middle East (GCP)', 'North America', 'North America (GCP)',
       'North America (excl. USA)', 'Oceania', 'Oceania (GCP)',
       'Ryukyu Islands', 'Ryukyu Islands (GCP)', 'South America',
       'South America (GCP)', 'World', 'European Union (27)',
       'European Union (28)', 'High-income countries',
       'Least developed countries (Jones et al.)', 'Low-income countries',
       'Lower-middle-income countries', 'Non-OECD (GCP)', 'OECD (GCP)',
       'OECD (Jones et al.)', 'Upper-middle-income countries', 'Anguilla',
       'Antarctica', 'Aruba', 'Bermuda',
       'Bonaire Sint Eustatius and Saba', 'British Virgin Islands',
       'Christmas Island', 'Curacao', 'Faroe Islands', 'French Polynesia',
       'Greenland', 'Hong Kong', 'Macao', 'Montserrat', 'New Caledonia',
       'Niue', 'Saint Helena', 'Saint Pierre and Miquelon',
       'Sint Maarten (Dutch part)', 'Turks and Caicos Islands',
       'Wallis and Futuna', 'International aviation',
       'International shipping', 'International transport'], dtype=object)

In [51]:
incluir = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe', 'Anguilla',
       'Antarctica', 'Aruba', 'Bermuda',
       'Bonaire Sint Eustatius and Saba', 'British Virgin Islands',
       'Christmas Island', 'Curacao', 'Faroe Islands', 'French Polynesia',
       'Greenland', 'Hong Kong', 'Macao', 'Montserrat', 'New Caledonia',
       'Niue', 'Saint Helena', 'Saint Pierre and Miquelon',
       'Sint Maarten (Dutch part)', 'Turks and Caicos Islands',
       'Wallis and Futuna' ]

In [52]:
df_filtrado_paises = filter_year[~filter_year['Name'].isin(incluir)]

In [53]:
df_filtrado_paises

,Description,Name,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
34601,Region,Africa,2000,NaN,830582806.0,NaN,30.897,0.037,930.851,30.972,3.442,2233.234,50.483,2.313,2.693,1.029,0.684,1.122,0.429,0.285,370.010,0.446,733.342,0.884,0.338,688.209,24131.189,105126.680,11749.875,2105.333,1641.160,122360.305,7946.612,NaN,3902.616,NaN,103.380,0.125,114.348,0.138,2.156,4.458,1302.394,1.570,1253.283,1.509,332.879,0.401,312.215,0.376,NaN,NaN,3196.057,4.268,3.649,7.249,4.021,3.728,2.304,5.997,2.235,18.653,1.347,17.228,2.173,NaN,29.786,2.407,24.586,3.040,NaN,8.523,0.041,0.051,0.098,0.007,3702.621,1790.801,-197.509,-21.218
34602,Region,Africa,2001,NaN,851690329.0,NaN,32.412,0.038,920.602,-10.249,-1.101,2151.343,-81.891,-3.667,2.530,0.929,0.636,1.082,0.398,0.272,371.740,0.437,749.353,0.881,0.324,720.620,25051.789,107278.023,12121.614,2203.533,1761.286,123591.055,8244.736,NaN,3943.533,NaN,98.200,0.115,120.126,0.141,2.081,4.244,1230.752,1.447,1239.626,1.455,325.107,0.382,298.125,0.351,NaN,NaN,3310.455,4.280,3.581,7.060,4.016,3.750,2.335,6.015,2.265,18.959,1.391,17.285,2.192,NaN,29.254,2.505,25.828,2.881,NaN,8.577,0.042,0.052,0.101,0.007,3614.512,1772.403,-171.249,-18.602
34603,Region,Africa,2002,NaN,873411364.0,NaN,34.928,0.040,899.996,-20.606,-2.238,2369.119,217.776,10.123,2.716,0.957,0.690,1.032,0.364,0.262,360.666,0.414,740.585,0.849,0.299,755.549,25951.785,109647.141,12482.280,2286.031,1895.640,125060.195,8532.285,NaN,3896.362,NaN,82.498,0.095,134.355,0.154,1.945,4.218,1469.134,1.684,1210.495,1.386,338.112,0.387,287.549,0.330,NaN,NaN,3353.255,4.448,3.425,7.544,3.725,3.777,2.361,6.042,2.291,19.134,1.440,17.366,2.208,NaN,25.413,2.721,28.649,2.783,NaN,8.622,0.043,0.053,0.103,0.007,3683.872,1698.465,-159.411,-17.712
34604,Region,Africa,2003,NaN,895734453.0,NaN,35.273,0.039,989.645,89.649,9.961,2522.337,153.219,6.467,2.820,0.953,0.700,1.106,0.374,0.275,390.582,0.437,819.854,0.917,0.310,790.822,26941.430,112169.477,12872.862,2377.888,2041.422,126592.898,8858.436,NaN,3984.036,NaN,91.857,0.103,145.782,0.163,2.059,4.355,1532.704,1.714,1279.045,1.428,351.423,0.392,326.150,0.365,NaN,NaN,3515.312,4.085,3.577,7.475,3.713,3.790,2.391,6.068,2.318,19.345,1.493,17.432,2.231,NaN,26.662,2.848,25.227,3.076,NaN,8.673,0.044,0.054,0.105,0.007,3900.794,1844.123,-169.791,-17.157
34605,Region,Africa,2004,NaN,918778450.0,NaN,38.021,0.041,1045.726,56.081,5.667,2486.618,-35.720,-1.416,2.710,0.873,0.651,1.140,0.367,0.274,417.392,0.455,864.254,0.942,0.303,828.843,27987.156,114656.102,13290.255,2465.912,2194.110,128033.797,9208.035,NaN,4171.859,NaN,88.024,0.096,152.688,0.166,2.079,4.298,1440.903,1.570,1293.109,1.407,355.164,0.387,349.600,0.381,NaN,NaN,3774.621,4.212,3.652,7.306,3.839,3.807,2.422,6.090,2.347,19.517,1.545,17.500,2.257,NaN,25.696,2.889,26.664,3.179,NaN,8.721,0.045,0.055,0.107,0.007,3948.601,1909.689,-181.472,-17.354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43741,International_Sector,International transport,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000
43742,International_Sector,International transport,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,853.840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000
43743,International_Sector,International transport,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,893.621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000
43744,International_Sector,International transport,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1020.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000
43745,International_Sector,International transport,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1116.569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000